################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/file2objects/.vs/file2objects/v14/.suo
