################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/file2objects/.vs/file2objects/v14/.suo
/file2objects/bin/Debug
/file2objects/obj/Debug
/file2objects/packages/EntityFramework.5.0.0
/tests/bin/Debug
/tests/obj/Debug
file2objects/bin/Release/file2objects.pdb
file2objects/bin/Release/file2objects.dll
file2objects/bin/Release/file2objects.pdb
file2objects/bin/Release/file2objects.dll
file2objects/obj/Release/file2objects.csproj.FileListAbsolute.txt
tests/Resources/temp2s.txt
tests/Resources/tempDetails.txt
tests/bin/Release/tests.pdb
tests/obj/Release/tests.dll
tests/obj/Release/tests.pdb
tests/bin/Release/tests.dll.config
tests/bin/Release/file2objects.dll
tests/bin/Release/file2objects.pdb
file2objects/jalsu.file2objects.v1.1.0.0.nupkg
file2objects/obj/Release/file2objects.dll
file2objects/obj/Release/file2objects.pdb
